<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h1> Welcome to the Web Calculator! </h1>
    <p>
        <form action="/sum">
            <input type="number" name="num1" placeholder="Enter first number">
            <select name="operator">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="number" name="num2" placeholder="Enter second number">
            <input type="submit" value="Calculate">
        </form>

    </p>
</body>
</html>
